GROQ_API_KEY=
GROQ_MODEL=
GOOGLE_API_KEY=
GOOGLE_CSE_ID=
MCA_API_KEY=
MCA_API_BASE_URL=
FRONTEND_ORIGINS=
DEMO_EMPLOYEE_ID=
DEMO_PASSWORD=
DEMO_EMPLOYEE_NAME=
MAX_UPLOAD_MB=
CAM_DATA_MODE=
PUBLIC_SEARCH_MODE=
CAM_MOCK_DATA_DIR=
